<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ZБанк</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <nav class="nav-container">
        <div>
            <img src="../static/logo.png" alt="ZБанк" class="logo">
            <div class="nav-links">
                <a href="dashboard.html" class="link-button">Главная</a>
                <a href="profile.html" class="link-button">Профиль</a>
                <a href="login.html" class="link-button logout">Выход</a>
            </div>
        </div>
    </nav>
    
    <main>
        <!-- Контент будет здесь -->
    </main>
</body>
</html>