<!DOCTYPE html>
<html lang="ru">
<head>
<title>ZBank - Главная</title>
<link rel="stylesheet" href="../static/styles.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="container">
  <div class="user-section">
    <div>
      <div class="profile-icon">{{ username[0] | upper }}</div>
      <div>
        <p>{{ username }}</p>
      </div>
    </div>
    <div class="user-actions">
      <a href="{{ url_for('profile') }}" class="link-button">Профиль</a>
      <a href="{{ url_for('login') }}" class="link-button logout">Выйти</a>
    </div>
  </div>
  <div>
    <div class="balance-section">
      <div>Основная карта</div>
      <div class="balance-text">{{ balance }} ₽</div>
    </div>
  </div>
  <div>
    <div class="quick-transfer">
      <h3>Быстрый перевод</h3>
      <form method="POST">
        <input name="recipient" type="text" placeholder="username получателя" required>
        <input name="amount" type="number" placeholder="сумма" required>
        <button type="submit" class="action-button">Перевести</button>
      </form>
    </div>
    <div class="transactions-section">
      <h3>Последние операции</h3>
      {% for transaction in transactions %}
      <div class="transaction-item">
        <div class="transaction-info">
          <div>
            {% if transaction[1] == session['user_id'] %}
              Перевод {{ get_username(transaction[2]) }}
            {% else %}
              Получено от {{ get_username(transaction[1]) }}
            {% endif %}
          </div>
          <div>{{ transaction[4] }}</div>
        </div>
        <div class="amount {% if transaction[1] == session['user_id'] %}negative{% else %}positive{% endif %}">
          {{ transaction[3] }} ₽
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="zbank-logo">
    <img src="../static/logo.png" width="150" alt="ZBank">
  </div>
</div>
</body>
</html>

