<!DOCTYPE html>
<html lang="ru">
<head>
    <title>ZBank - Профиль</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="centered-container">
    <div class="auth-container">
        <div class="user-section">
            <div>
                <div class="profile-icon">A</div>
                <div>
                    <p>Alexander</p>
                </div>
            </div>
            <div class="user-actions">
                <a href="menu.html" class="link-button">Меню</a>
                <a href="login.html" class="link-button logout">Выйти</a>
            </div>
        </div>

        <div class="section-block">
            <h3>Настройки профиля</h3>
            <form class="form-group">
                <input type="text" value="Alexander" disabled>
                <input type="email" placeholder="Email" value="alex@example.com">
                <button type="submit" class="action-button">Сохранить</button>
            </form>
        </div>


        <div class="zbank-logo">
            <img src="../static/logo.png" width="100">
        </div>
    </div>
</div>
</body>
</html> 