<!DOCTYPE html>
<html lang="ru">
<head>
    <title>ZBank - Профиль</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
<div class="centered-container">
    <div class="auth-container">
        <div class="user-section">
            <div>
                <div class="profile-icon">{{ username[0] | upper }}</div>
                <div>
                    <p>{{ username }}</p>
                </div>
            </div>
            <div class="user-actions">
                <a href="{{ url_for('dashboard') }}" class="link-button">Меню</a>
                <a href="{{ url_for('login') }}" class="link-button logout">Выйти</a>
            </div>
        </div>

        <div class="section-block">
            <h3>Настройки профиля</h3>
            <form class="form-group" method="POST" action="{{ url_for('profile') }}">
                <input type="text" name="username" value="{{ username }}" disabled>
                <input type="text" name="secret_key" value="{{ secret_key }}" placeholder="Ваш пасскод" readonly>
                <input type="number" name="balance" value="{{ balance }}" placeholder="Ваш баланс" readonly>
                <button type="submit" class="action-button">Сохранить</button>
            </form>
        </div>

        <div class="zbank-logo">
            <img src="../static/logo.png" width="100">
        </div>
    </div>
</div>

{% with messages = get_flashed_messages() %}
    {% if messages %}
        <script>
            alert("{{ messages[0] }}");
        </script>
    {% endif %}
{% endwith %}

</body>
</html> 